{% extends 'base.html' %}
{% load static %}<!--<!DOCTYPE html>-->

{% block title %}
    Detector Form
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/formstyle.css' %}">
{% endblock %}

{% block body %}

<img class="alogo" src="{% static 'img/analogic_logo.png' %}" alt="Analogic Corporation" style="width: 30%; height: 30%">
<h2 id="title">DAS & Detector Weekly Direct Labor Reporting</h2>

<div id="content">
<h1 id="welcome">Welcome,
    {% if user.get_full_name|length > 0 %}
        <a class="nav-link" href="{% url 'profile' %}">{{ user.get_full_name }}</a>
    {% else %}
        <a class="nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
    {% endif %}
</h1>
<a href="{% url 'login' %}?next={% firstof request.path %}"><div id="change_user">Not you? Login as a different user</div></a><br>

<form id="form" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="required">
        <div class="errortext">{{ date_form.date.errors | striptags }} </div>
        <br>      
        <span id='date_label'>Week of:</span>
        {{ date_form.date }}
    </div>
    <br>
    <table cellspacing="0" cellpadding="0" id="divLabTable" class="divTable">
        <tbody id="divtablebody">
        <tr class="divTableRow">            
            <th  name="divLabHead">Diverted Labor</th>
            <th class="divTableHead" colspan=1 name="commentsHead">Comments</th>
            <th class="divTableHead" id="weekend" colspan=1 name="taskTableDays[]">Sun<br>Hrs</th>
            <th class="divTableHead" colspan=1 name="taskTableDays[]">Mon<br>Hrs</th>
            <th class="divTableHead" colspan=1 name="taskTableDays[]">Tue<br>Hrs</th>
            <th class="divTableHead" colspan=1 name="taskTableDays[]">Wed<br>Hrs</th>
            <th class="divTableHead" colspan=1 name="taskTableDays[]">Thu<br>Hrs</th>
            <th class="divTableHead" colspan=1 name="taskTableDays[]">Fri<br>Hrs</th>
            <th class="divTableHead" id="weekend" colspan=1 name="taskTableDays[]">Sat<br>Hrs</th>
            <th class="divTableHead" colspan=1 name="taskTableTot"><br>Total<br>Hrs</th>
        </tr>
        {{ formset_0.management_form }}
        {% for form in formset_0 %}
            <span class='error'>{{ form.non_field_errors | striptags }}</span>
            {% for field in form %}
                {% if forloop.first %}
                <tr id="divForm-row-{{ forloop.parentloop.counter0 }}" class="divTableRow" name="divTableRow[]">
                    <td id="divCell-{{ forloop.parentloop.counter0 }}" class="divTableCell" name="divCell"></td>
                {% endif %}
                    <td class="divTableCell">
                        {% if field.errors %}
                            <div class=tooltip name=error>
                                {{ field }}
                                <span class="tooltiptext">{{ field.errors | striptags }}</span>
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </td>
                {% if forloop.last %}
                    <td class="divTableTot" id="divFormtotal{{forloop.parentloop.counter0}}">0</td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <br>
    <table cellspacing="0" cellpadding="0" id="nsLabTable" class="divTable">
        <tbody id="nstablebody">
        <tr class="divTableRow">            
            <th  name="divLabHead">Non-SAP Labor</th>
            <th class="divTableHead" colspan=1 name="commentsHead">Comments</th>
            <th class="divTableHead" id="weekend" colspan=1 name="taskTableDays[]">Sun<br>Hrs</th>
            <th class="divTableHead" colspan=1 name="taskTableDays[]">Mon<br>Hrs</th>
            <th class="divTableHead" colspan=1 name="taskTableDays[]">Tue<br>Hrs</th>
            <th class="divTableHead" colspan=1 name="taskTableDays[]">Wed<br>Hrs</th>
            <th class="divTableHead" colspan=1 name="taskTableDays[]">Thu<br>Hrs</th>
            <th class="divTableHead" colspan=1 name="taskTableDays[]">Fri<br>Hrs</th>
            <th class="divTableHead" id="weekend" colspan=1 name="taskTableDays[]">Sat<br>Hrs</th>
            <th class="divTableHead" colspan=1 name="taskTableTot"><br>Total<br>Hrs</th>
        </tr>
        {{ formset_1.management_form }}
        {% for form in formset_1 %}
            <span class='error'>{{ form.non_field_errors | striptags }}</span>
            {% for field in form %}
                {% if forloop.first %}
                <tr id="nsForm-row-{{ forloop.parentloop.counter0 }}" class="divTableRow" name="divTableRow[]">
                    <td id="nsCell-{{ forloop.parentloop.counter0 }}" class="divTableCell" name="nsCell"></td>
                {% endif %}
                    <td class="divTableCell">
                        {% if field.errors %}
                            <div class=tooltip name=error>
                                {{ field }}
                                <span class="tooltiptext">{{ field.errors | striptags }}</span>
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </td>
                {% if forloop.last %}
                    <td class="divTableTot" id="nsFormtotal{{forloop.parentloop.counter0}}">0</td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <h1>Production</h1>
    <table cellspacing="0" cellpadding="0" id="prodTable" class="divTable">
        <datalist id='tasklist'></datalist>
        <datalist id='partlist'></datalist>
        <tbody id="prodtablebody">
            <tr class="divTableRow">
                <th class="deleteCell"></th>
                <th name="taskHead">Task</th>
                <th name="partHead">Part No.</th>
                <th name="descHead">Desc</th>
                <th name="workOrderHead">Work Order No.</th>
                <th class="divTableHead" colspan=1 name="commentsHead">Comments</th>
                <th class="divTableHead" id="weekend" colspan=2 name="taskTableDoubleDays[]">Sun</th>
                <th class="divTableHead" colspan=2 name="taskTableDoubleDays[]">Mon</th>
                <th class="divTableHead" colspan=2 name="taskTableDoubleDays[]">Tue</th>
                <th class="divTableHead" colspan=2 name="taskTableDoubleDays[]">Wed</th>
                <th class="divTableHead" colspan=2 name="taskTableDoubleDays[]">Thu</th>
                <th class="divTableHead" colspan=2 name="taskTableDoubleDays[]">Fri</th>
                <th class="divTableHead" id="weekend" colspan=2 name="taskTableDoubleDays[]">Sat</th>
                <th class="divTableHead" colspan=2 name="taskTableDoubleTot"><br>Total<br></th>
            </tr>
            {{ formset_2.management_form }}
            {% for form in formset_2 %}
                <span class='error'>{{ form.non_field_errors | striptags }}</span>
                {% for field in form %}
                    {% if forloop.first %}
                    <tr id="prodForm-row-{{ forloop.parentloop.counter0 }}" class="divTableRow" name="divTableRow[]">
                        <td class=deleteCell>
                            <a id="delete-prodForm-row-{{ forloop.parentloop.counter0 }}" class="delete-row" onclick="deleteForm(this.id)">✘</a>
                            <input type="image" src="{% static 'img/copy interface symbol.png' %}" id="copy-prodForm-row-{{ forloop.parentloop.counter0 }}" class="copy-row" onclick="duplicateForm(this.id); return false;">
                        </td>    
                        <td class="divTableCell">
                            {% if field.errors %}
                                <div class=tooltip name=error>
                                    {{ field }}
                                    <span class="tooltiptext">{{ field.errors | striptags }}</span>
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </td>
                    {% elif forloop.counter0 == 1 %}
                    <td class="divTableCell">
                        {% if field.errors %}
                            <div class=tooltip name=error>
                                {{ field }}
                                <span class="tooltiptext">{{ field.errors | striptags }}</span>
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    </td>
                    <td id="desc{{forloop.parentloop.counter0}}" name="descCell" class="divTableCell"></td>
                    {% elif forloop.last %}
                        <td class="divTableTot" id="prodFormtotalq{{forloop.parentloop.counter0}}">0</td>
                        <td class="divTableTot" id="prodFormtotall{{forloop.parentloop.counter0}}">0</td>
                        <td style="display: none">{{ field }}</td>
                    </tr>
                    {% else %}
                        <td class="divTableCell">
                            {% if field.errors %}
                                <div class=tooltip name=error>
                                    {{ field }}
                                    <span class="tooltiptext">{{ field.errors | striptags }}</span>
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <tr class="divTableRow" name="taskTableRow">
                <th class="divTableHead" name="dailyTotalHead" colspan=6>Total Hours (Including Diverted and Non-SAP)</th>
                <th class="divTableHead" name="dailyTotal" colspan=2>0</th>
                <th class="divTableHead" name="dailyTotal" colspan=2>0</th>
                <th class="divTableHead" name="dailyTotal" colspan=2>0</th>
                <th class="divTableHead" name="dailyTotal" colspan=2>0</th>
                <th class="divTableHead" name="dailyTotal" colspan=2>0</th>
                <th class="divTableHead" name="dailyTotal" colspan=2>0</th>
                <th class="divTableHead" name="dailyTotal" colspan=2>0</th>
                <th class="divTableTot" name="dailyTotalTot" colspan=2>0</th>
            </tr>
        </tbody>
    </table>
    <input type="button" id="add-prodForm-row" class="add-row" value="+" onclick="addForm()">
    <br>
    <br>
    <input type="button" class="submit" value="Submit" onclick="return submitForm('csrfmiddlewaretoken={{ csrf_token }}&data=connect');"> 
    <!--<input type="submit" name="save" value="Save">-->
</form>
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Error:</h1>
        <p></p>        
    </div>
</div>
{% endblock %}
{% block script %}
<script type = "text/javascript" src="{% static 'js/forms.js' %}"></script>
<script type = "text/javascript">

//-----------Load-----------//
    var tasks = {{ tasks|safe }};
    var parts = {{ parts|safe }};
    var tarr = {{ tarr|safe }};
    var parr = {{ parr|safe }};
    var divFields = {{ divFields|safe }};
    var nsFields = {{ nsFields|safe }};
    var error = {{ error|safe }};
    var disable = {{ disable|safe }};
//-----------Functions-----------//
    function addForm(){
        var formTot = document.getElementById("id_prodForm-TOTAL_FORMS");
        var rowElement = storedRow.cloneNode(true);
        renameRow(rowElement, formTot.value);
        formTot.value = parseInt(formTot.value)+1;
        var tab = document.getElementById('prodtablebody');
        var row = tab.insertRow(tab.rows.length-1);
        row.outerHTML = rowElement.outerHTML;
        row.innerHTML = rowElement.innerHTML;
    }
    function deleteForm(id){
        var formTot = document.getElementById("id_prodForm-TOTAL_FORMS");
        var formnum = id.substring("delete-prodForm-row-".length);
        var tab = document.getElementById("prodTable");
        var rowNum = parseInt(formnum)+1;
        tab.deleteRow(rowNum);
        var delBox = document.createElement('input');
        delBox.setAttribute('type', 'checkbox');
        delBox.setAttribute('name', 'prodForm-'+formnum+"-DELETE");
        delBox.setAttribute('id', 'id_prodForm-'+formnum+"-DELETE");
        delBox.setAttribute('checked', 'true')
        formTot.value = formTot.value-1;
        for(var i=rowNum; i<=formTot.value; i++){
            reorderNext(i, 'prodForm-row-'+i);
        }
        calcDailyLabInit("id_prodForm-0-tal_0", 1, 'dailyTotal', ['divForm', 'nsForm', 'prodForm']);
    }
    function duplicateForm(id){
        var formTot = document.getElementById('id_prodForm-TOTAL_FORMS');
        var formnum = id.substring("copy-prodForm-row-".length);
        var newformnum = formTot.value;
        var rowElement = document.getElementById('prodForm-row-'+formnum).cloneNode(true);
        renameRow(rowElement, newformnum);
        formTot.value = parseInt(newformnum)+1;
        var tab = document.getElementById('prodtablebody');
        var row = tab.insertRow(tab.rows.length-1);
        row.outerHTML = rowElement.outerHTML;
        row.innerHTML = rowElement.innerHTML;
        calcDailyLabInit("id_prodForm-0-tal_0", 1, 'dailyTotal', ['divForm', 'nsForm', 'prodForm']);
    }
    function showTasks(element){
        var id = element.id;
        var components = getIdComponents(id)
        var value = element.value;
        var val1 = "";
        var val2 = "";
        if(value in tasks){
            val1 = tasks[value][1];
            val2 = tasks[value][2];
        }
        console.log(val1 + ', ' + val2);
        document.getElementById(components['start']+components['pref']+'-'+components['formIndex']+"-par_"+components['index']).value = val1;
        document.getElementById("desc"+components['formIndex']).innerHTML = val2;
    }
    function showParts(element){
        var id = element.id;
        var components = getIdComponents(id)
        var value = element.value;
        var val0 = "";
        var val2 = "";
        if(value in parts){
            val0 = parts[value][0];
            val2 = parts[value][2];
        }
        document.getElementById(components['start']+components['pref']+'-'+components['formIndex']+"-tas_"+components['index']).value = val0;
        document.getElementById("desc"+components['formIndex']).innerHTML = val2;
    }  
    function showTasksInit(){
        var components = getIdComponents("id_prodForm-0-tas_0");
        var endStr = "TOTAL_FORMS"
        var numForms = document.getElementById(components['start'] + components['pref'] + "-" + endStr).value;
        for(var i=0;i<numForms;i++){
            showTasks(document.getElementById(components['start'] + components['pref'] + "-" + i + components['suf'] + '0'));
        }
    }
    function renameRow(rowElement, newNum){
        rowElement.setAttribute('id', "prodForm-row-"+newNum);
        rowElement.innerHTML = rowElement.innerHTML.replace(/prodForm-[0-9]+-/g, "prodForm-"+newNum+"-");
        rowElement.innerHTML = rowElement.innerHTML.replace(/prodFormtotalq[0-9]+/g, "prodFormtotalq"+newNum);
        rowElement.innerHTML = rowElement.innerHTML.replace(/prodFormtotall[0-9]+/g, "prodFormtotall"+newNum);
        rowElement.innerHTML = rowElement.innerHTML.replace(/delete-prodForm-row-[0-9]+/g, "delete-prodForm-row-"+newNum);
        rowElement.innerHTML = rowElement.innerHTML.replace(/copy-prodForm-row-[0-9]+/g, "copy-prodForm-row-"+newNum);
        rowElement.innerHTML = rowElement.innerHTML.replace(/part[0-9]+/g, "part"+newNum);
        rowElement.innerHTML = rowElement.innerHTML.replace(/desc[0-9]+/g, "desc"+newNum);
    }
    function reorderNext(rowNum, rowId){
        var formnum = rowNum-1;
        var rowElement = document.getElementById(rowId);
        renameRow(rowElement, formnum);
    }  
    
//-----------Script-----------//
    //document.querySelector('[type=submit]').addEventListener('submit',function(event) {event.preventDefault();});
    var storedRow = document.getElementById('prodForm-row-0').cloneNode(true);
    storedRow.innerHTML = storedRow.innerHTML.replace(/value="[^"]*"/g, "");
    storedRow.innerHTML = storedRow.innerHTML.replace(/>.*<\/textarea>/g, "></textarea>");
    storedRow.innerHTML = storedRow.innerHTML.replace(/<div class="tooltip" name="error">/g, "");
    storedRow.innerHTML = storedRow.innerHTML.replace(/<span class="tooltiptext">(.*)<\/span>/g, "");
    
    var divCells = document.getElementsByName('divCell');
    var nsCells = document.getElementsByName('nsCell');
    for(var i=0;i<divCells.length;i++){
        divCells[i].innerHTML = divFields[i];
    }
    for(var i=0;i<nsCells.length;i++){
        nsCells[i].innerHTML = nsFields[i];
    }

    calcTotLabInit("id_divForm-0-tal_0", 1, "total");
    calcTotLabInit("id_nsForm-0-tal_0", 1, "total");
    calcTotLabInit("id_prodForm-0-taq_0", 0, "totalq");
    calcTotLabInit("id_prodForm-0-tal_0", 1, "totall");
    calcDailyLabInit("id_prodForm-0-tal_0", 1, 'dailyTotal', ['divForm', 'nsForm', 'prodForm']);
    showTasksInit();

    var taskList = document.getElementById('tasklist');
    fillDatalist(tarr, taskList);
    var partList = document.getElementById('partlist');
    fillDatalist(parr, partList);

    showDateLabels("taskTableDays[]", document.getElementById("id_date").value);
    showDateLabels("taskTableDoubleDays[]", document.getElementById("id_date").value);
    showCols("taskTableDays[]", "Hrs");
    showQtyHrsCols("taskTableDoubleDays[]");
    showQtyHrsCols("taskTableDoubleTot");
    document.getElementById("id_date").setAttribute("oninput", "showDateLabels('taskTableDays[]', this.value); showDateLabels('taskTableDoubleDays[]', this.value); showCols('taskTableDays[]','Hrs'); showQtyHrsCols('taskTableDoubleDays[]');");

    if(error){
        showError('The form failed to save or submit; please correct the errors shown.');
    }
    if(disable)
        disabled(disable);
</script>
{% endblock %}